<spinner *ngIf="loginObject.spinner"></spinner>

<section class="video-reset-sec">
    <div class="container video-common-sec">
        <div class="video-common-form">
            <h4>Free<strong>Fuse</strong></h4>
        <form class="signin-form" #loginForm="ngForm" (ngSubmit)="onSubmit()">

            <div class="user-pic-text">
                <h5>Reset your password!</h5>
            </div>

            <div class="form-group signup-group">
                    <div class="pos-relative" style="margin-top:30px">
                            <input [type]="fieldPassTextType ? 'text' : 'password'" id="user_password" class="form-control main_focus_input" name="user_password" required  [(ngModel)]="loginObject.password" #user_password="ngModel" (change)="changeUserLogin('user_password')" [ngClass]="{'custom-alert-border':user_password.invalid && user_password.touched}" >
                            <label class="input-field" for="user_password">Create a password</label>
                            <button type="button" id="pass-show" class="btn btn-link btn-show-password" (click)="togglePasswordTextType()" *ngIf="!fieldPassTextType">Show</button>
                            <button type="button" id="pass-hide" class="btn btn-link btn-show-password" (click)="togglePasswordTextType()" *ngIf="fieldPassTextType">Hide</button>  
                       </div>   

                          <div *ngIf="user_password.invalid && user_password.touched" class="custom-alert">
                               <div *ngIf="user_password.errors.required">
                                    Create a password is required!
                              </div> 
                            
                               
                                <!-- <div *ngIf="user_password.errors.pattern">
                                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                    Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character
                                </div>  -->


                <!-- <a class="pwd-info" data-trigger="hover" href="#" data-toggle="popover-pwd-info" data-placement="top" data-html="true" 
                data-content="<p>password must be at least 8 charactorters long.</p><p>password must contain 
                at least one letter and one number</p><p>Password must contain at least one special character (~!@#$%^&*()_+=-)</p>">
                    <img src="assets/images/pwd-info.svg" alt=""> 
                </a>                                    -->
            </div>

                        <div class="pos-relative" style="margin-top:15px">
                                <input [type]="fieldCPassTextType ? 'text' : 'password'" id="user_cpassword" class="form-control main_focus_input" minlength="8" name="user_cpassword" required  [(ngModel)]="loginObject.cPassowrd" #user_cpassword="ngModel" (change)="changeUserLogin('user_cpassword')" [ngClass]="{'custom-alert-border':(user_cpassword.invalid && user_cpassword.touched)}" pattern="{{ user_password.value }}">
                                <label class="input-field" for="user_cpassword">Confirm password</label>  
                                <button type="button" id="cpass-show" class="btn btn-link btn-show-password" (click)="toggleCPasswordTextType()" *ngIf="!fieldCPassTextType">Show</button>
                            <button type="button" id="cpass-hide" class="btn btn-link btn-show-password" (click)="toggleCPasswordTextType()" *ngIf="fieldCPassTextType">Hide</button>
                           </div>   
    
                              <div *ngIf="user_cpassword.invalid && user_cpassword.touched" class="custom-alert">
                                   <div *ngIf="user_cpassword.errors.required">
                                        This is required!
                                  </div> 
                                  <div *ngIf="user_cpassword.errors.maxlength">
                                       Maximum of 20 characters are allowed!
                                    </div> 
                                    <div *ngIf="user_cpassword.errors.minlength">
                                        Minimum of 4 characters are allowed!
                                    </div> 
                                    <div *ngIf="user_cpassword.errors.pattern" class="custom-alert">
                                            Password does not matched!
                                        </div>
                                </div>
                                           
            </div>
            <button type="submit" class="video-common-btn" [disabled]="loginForm.invalid">Reset my password</button>
        </form>

        </div>
    </div>
</section>

<withoutloginfooter></withoutloginfooter>