section.upload-videos-sec .upload-vid{
    width: 360px;
    height: auto;
}
.upload-videos-sec .upload-vid > h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 28px;
}
.upload-vid .upload-v-btn{
    padding: 15px;
    background-color: #9ca9ba;
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.3);
    margin-bottom: 15px;
}
.cancel-upload-button
{
    width: 15px;
    position: absolute;
    z-index: 9;
    cursor: pointer;
    right: 0;
    top: 0px;
}
.cancel-upload-button img{
    width: 100%;
}
.upload-vid .upload-v-btn > button{
    border: none;
    background: none;
    width: 100%;
    border-bottom: 1px solid #ffffff61;
    margin-bottom: 10px;
    padding-bottom: 10px;
    outline: none;
}
.upload-vid .upload-v-btn > button:last-child{
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.upload-vid .upload-v-btn > button .media img{
    width: 26px;
    height: 26px;
}
.upload-vid .upload-v-btn > button .media-body h5{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
.upload-vid .upload-v-btn > button .media-body p{
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 0px;
}
.upload-vid .upload-other-btn{
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.3)
}
.choose-vid h6
{
    word-break: break-all;
    width: 100px;
}
.upload-vid .upload-other-btn > .txt img{
    
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;

}
.templatetype{
    float: left;
    width: 50%;
overflow-wrap: break-word;

    padding: 5px;
}

.templatetype.okay1 .fonrmation img
{
    width: 42px;
    height: auto;
    top: 27px;
}

.templatetype.okay2 .fonrmation img
{
    width: 29px;
    height: auto;
    left: 10px;
    top: 26px
}
.templatetype.okay3 .fonrmation img
{
    width: 42px;
    height: auto;
    left: 10px;
    top: 16px
}
.templatetype.okay4 .fonrmation img
{
    width: 40px;
    height: auto;
    left: 10px;
    top: 22px;
}
.templatetype.okay5 .fonrmation img
{
    width: 25px;
    height: auto;
    left: 15px;
    top: 27px;
}

.templatetype.okay6 .fonrmation img
{
    width: 12px;
    height: auto;
    left: 25px;
    top: 21px;
}

.templatetype.okay7 .fonrmation img
{
    width: 45px;
    height: auto;
    left: 10px;
    top: 27px;
}

.templatetype.okay8 .fonrmation img
{
    width: 44px;
    height: auto;
    left: 10px;
    top: 17px;
}


.upload-vid.templar{
    width: 600px!important;
    font-size: 14px;
}
.templatetype .fonrmation
{
    background: #fff;
    padding: 15px 10px;
    width: 100%;
    position: relative;
    padding-left: 60px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}
.templatetype .fonrmation span{
    display: block;
}
.templatetype .fonrmation span:first-child{
    font-weight: bold;
}
.templatetype .fonrmation img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    position: absolute;
    left: 10px;
    top: 10px;
}
.left-arrow-on
{
    color: #717171;
    position: absolute;
    left: 15px;
    top: 95px;

}
.left-arrow-on img
{
    width: 15px;
}

.opeinds
{
    display: inline-block;
    width: calc(50% - 10px);
    padding: 20px 10px;
    border: 1px solid #000;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
  
}
.options1
{
    margin-right: 10px;
}
.upload-vid .upload-other-btn > .txt h5{
    font-size: 16px;
    margin-bottom: 0px;
}
.upload-vid .upload-other-btn .other-buttons > div button{
    width: 30px;
    height: auto;
    background: none;
    border: none;
}
.upload-vid .upload-other-btn .other-buttons > div button img{
    width: 100%;
    height: 100%;
}
.upload-vid .upload-v-btn .more-btn button{
    box-shadow: none;
    float: right;
    padding: 0px 10px;
    margin-bottom: 15px;
}
.upload-vid .upload-v-btn .more-btn button::after{
    display: none;
}
.upload-vid .upload-v-btn .more-btn button img{
    width: 20px;
    height: 20px;
}

/* Upload video popup */
.upload-vid-Modal .modal-body,.upload-url-Modal .modal-body{
    padding: 0px 25px 25px 25px;
}
.upload-vid-Modal .modal-header,.upload-url-Modal .modal-header{
    padding: 25px;
}

.upload-vid-Modal .modal-header .modal-title,
.upload-url-Modal .modal-header .modal-title{
    font-size: 19px;
}
.upload-vid-Modal .modal-body .select-vid-area .upload-img{
    width: 65px;
    height: 65px;
    background-color: #9ca9ba;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.upload-vid-Modal .modal-body .select-vid-area button{
    border: 1px solid #6e5eff;
    padding: 8px 30px;
    border-radius: 5px;
    background: #6e5eff;
    color: #ffff;
    font-size: 15px;
    outline: none;
}
.upload-vid-Modal .modal-body .select-vid-area{
    border: 1px dotted black;
    border-radius: 10px;
    padding: 28px 15px;
}
.upload-vid-Modal .modal-body .select-vid-area p{
    font-size: 14px;
}
.upload-vid-Modal{
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.upload-vid-Modal .vid-library-options .vid-options .txt h5{
    font-size: 17px;
}
.upload-vid-Modal .vid-library-options .vid-options{
    display: flex;
    justify-content: space-between;
}
.upload-vid-Modal .vid-library-options .vid-options .txt p{
    font-size: 14px;
    margin-bottom: 0px;
}
.vid-library-options .vid-options .search button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
}
.vid-library-options .vid-options .search > input{
    /* padding-right: 40px; */
    width: 44px;
}

.vid-library-options .vid-options .search button svg{
    fill: black;
}
.upload-vid-list .choose-vid .form-group label img{
    width: 90px;
    height: 60px;
    object-fit: cover;
}
.upload-vid-list .choose-vid .form-group label h6 samp{
    font-size: 14px;
    color: #a4a4a5;
    margin-top: 2px;
}
.upload-vid-list > .row .vid-timing samp{
    font-size: 14px;
    color: #a4a4a5;
}

.upload-vid-list > .row .vid-timing{
    width: 100%;
}
.upload-vid-Modal .modal-body .upload-vid-list{
    height: 300px;
}
.vid-list-btn{
    width: 100% !important;
    padding-right: 40px;
}
.upload-vid-list .choose-vid .form-group label{
    position: relative;
    cursor: pointer;
}
.upload-vid-list .choose-vid .form-group label:before{
    content:'';
    border: 1px solid black;
    padding: 10px;
    margin-right: 5px;
    border-radius: 50%;
}
.upload-vid-list .choose-vid .form-group input:checked + label:after{
    content: '';
    position: absolute;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }  
/* Upload video popup */

/* Upload url popup */
.upload-url-Modal {
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.size-block
{
margin-top: 10px;
}
.upload-url-Modal .vid-url-body .url-txt{
    margin-top: 10px;
}
.upload-url-Modal .vid-url-body .url-txt h6{
    color: #a4a4a5;
    margin-bottom: 2px;
}
.upload-url-Modal .vid-url-body .url-txt p{
    color: #a4a4a5;
    font-size: 14px;
}
.upload-url-Modal .vid-url-body button{
    float: right;
    border: 1px solid #6e5eff;
    padding: 8px 30px;
    border-radius: 5px;
    background: #6e5eff;
    color: #ffff;
    margin-top: -58px;
    font-size: 15px;
}

/* Upload url popup */

.upload-videos-sec
{
    margin-top: 70px;   
}
.button-style input
{   opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    cursor: pointer;
}

.button-style
{
    border: 1px solid #6e5eff;
    padding: 8px 30px;
    border-radius: 5px;
    background: #6e5eff;
    color: #ffff;
    font-size: 15px;
    display: block;
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    outline: none;
}
.cancel-button
{
    background: red!important;
    border: 1px solid red!important;
    cursor: pointer;
    margin-left: 15px
}
.custom-btn
{
    margin-top: 15px;
}
.fileName
{
   
    font-size: 16px;
    text-align: left;
}
.fileName span 
{
    float: right;
    margin-right: 30px;
}
.uploaded-percetange
{
    margin-bottom: 15px;
    padding: 0px;
}

samp {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

@media(max-width: 991px)
{
    .button-style
    {
        display: block!important;
        width: 100%!important;   
    }

    .form-check
    {
        display: block!important;
    }

    .video-title {
        width: 100% !important;
        text-align: left !important;
        margin-top: 10px;
        margin-left: 10px;
    }

    .video-stats {
        text-align: left !important;
        padding-left: 10px!important;
         margin-top: 10px;
    }
    .row.vid-timing
    {
        margin-left: 0px!important;
    }

    .animations{
        padding: 10px 0;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
        margin: 1px;
    }
    .video-js
    {
        margin-left: 0px!important;
        width: 100%;
        height: 140px;
    }

.upload-vid.templar{
    width: 100%!important;
}
.options2 ,.options1{
    font-size: 13px;
}
}

