<headerone></headerone>
<div class="bg">
  <div class="container  ">
    <div class="row ">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-5  ">
        <img
          src="../../../assets/about/Picture1.png"
          class="img-fluid d-block mx-auto aboutImg shadow"
          alt=""
        />
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-5   ">
        <img
          src="../../../assets/about/Picture2.png"
          class="img-fluid d-block mx-auto aboutImg shadow"
          alt=""
        />
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-5  ">
        <img
          src="../../../assets/about/Picture3.png"
          class="img-fluid d-block mx-auto aboutImg shadow"
          alt=""
        />
      </div>
    </div>
    <div class="row ">
      <div class=" col-lg-4 col-md-4 col-sm-8  col-8 offset-sm-2 offset-lg-4 offset-2 offset-md-4">
        <img
          src="../../../assets/img/Purplewhite background.png"
          class="img-fluid mt-5"
          alt=""
        />
      </div>
    </div>

  </div>
  <div class="container pl-3 pr-3 mt-1">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <p class="aboutPara ">
          Welcome to freefuse , a social experience focused on interactive
          video storytelling ! Mike , Jon , and Brooke started FreeFuse over
          two years ago to provide a way for make learning content more
          customized and engaging . Our vision is to provide control over how
          we create and communicate With an emphasis on Info sharing and
          collaboration , FreeFuse will enhance the exchange of ideas through
          video . Our vision is to provide control over how
          we create and communicate With an emphasis on Info sharing and
          collaboration , FreeFuse will enhance the exchange of ideas through
          video .
        </p>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 pb-5">
      <hr style="color: white;background: white;height: 1px;">
      <br>
        <video width="100%" poster="" controls preload="auto" videojs
        class="video-js vjs-default-skin vjs-big-play-centered" (loadedmetadata)="getDuration($event)"
        id="video-all">
        <source src="{{url}}" type="video/mp4" />
      </video>
    </div>
    </div>
  </div>
</div>
