  <!-- video publish footer -->
  <section class="vid-publish-footer">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-sm-12 col-md-5">
            <div class="other-btns">
              <button type="button">
                <img src="assets/images/upload-video-icons/record-vid-cam.svg" alt="">
              </button>
              <button type="button">
                <img src="assets/images/upload-video-icons/record-vid-cam.svg" alt="">
              </button>
              <button type="button">
                <img src="assets/images/upload-video-icons/record-vid-cam.svg" alt="">
              </button>
              <button type="button">
                <img src="assets/images/upload-video-icons/record-vid-cam.svg" alt="">
              </button>
              <button type="button" class="share-btn d-flex align-items-center justify-content-between">
                <span>Share</span>
                <img src="assets/images/upload-video-icons/publish-share.svg" alt="" width="20px" height="20px">
              </button>
            </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <div class="footer-text">
              Interactive video #5
            </div>
          </div>
          <div class="col-sm-12 col-md-5">
            <div class="pre-pub-btn d-flex justify-content-end">
                <button type="button">Preview</button>
                <button type="button">Publish</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- video publish footer -->