<!-- <button class="" type="button" (click)="goToHome()">FreeFuse Home</button>
<p>You will be redirected in {{timeLeft}}</p> -->

<!-- <spinner *ngIf="otpObj.spi nner"></spinner> -->
<section class="video-reset-sec">
    <div class="container video-common-sec" style="margin-top: 70px; margin-bottom: 120px;">
        <div class="video-common-form">
            <div class="tick">
                <svg id="Capa_1" enable-background="new 0 0 551.13 551.13" height="512" viewBox="0 0 551.13 551.13" width="512" xmlns="http://www.w3.org/2000/svg">
                    <path d="m275.565 0c-151.944 0-275.565 123.621-275.565 275.565s123.621 275.565 275.565 275.565 275.565-123.621 275.565-275.565-123.621-275.565-275.565-275.565zm0 516.685c-132.955 0-241.119-108.164-241.119-241.119s108.164-241.12 241.119-241.12 241.12 108.164 241.12 241.119-108.165 241.12-241.12 241.12z"/>
                    <path d="m241.119 337.325-73.937-73.937-24.354 24.354 98.291 98.291 167.183-167.183-24.354-24.354z"/>
                </svg>
            </div>
            <h5 style="text-align: center;">That's all! Thanks</h5>
            <p class="tc-pp-text p-text">
                Your details and preferences have been updated,
                <br>however you can change these at any time by visiting
                <br>your profile 
            </p>
            <button class="video-common-btn" type="button" (click)="goToHome()">FreeFuse home</button>
            <p class="tc-pp-text p-text" style="margin-bottom: 0;">You will be redirected in {{timeLeft}}</p>
        </div>
    </div>
</section>

<withoutloginfooter></withoutloginfooter>


